# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.



bin/
obj/
.vs/

_build/
.DS_Store
packages
TestResults
*ncrunch*
*.user
*.suo
*.orig
e2e/screenshots

api/**/*.sln
api/**/launchSettings.json
